* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Courier New", Courier, monospace;
    font-weight: bold;
    color: black;
}

nav {
    display: flex;
    width: 95%;
    border: 2px solid black;
    padding: 10px;
    
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav a {
    text-decoration: none;
    color: black;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 15px;
    height: 90vh;

}

.navbar {
    display: flex;
    box-sizing: border-box;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    margin: 20px 30px;
}

.navbar-list {
    display: flex;
    list-style: none;
    justify-content: space-around;
}

.navbar .navbar-list li::after {
    content: '';
    border-right: 2px solid black;
    margin: 10px;
}

body main h1 {
    margin-bottom: 10px;
}

.books-table {
    border: 3px solid black;
    padding: 5px 0;
    width: 70%;
}

form>*:last-child {
    float: right;
}

.books-table>*:nth-child(odd) {
    background: #e0dede;
}

.books-table button,
.submitbtn {
    border: 2px solid black;
    box-shadow: 2px 2px;
    padding: 2px;
}

.onebook {
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    gap: 90px;
    margin-bottom: 2px;
}

.separator {
    border: 1px solid black;
    margin: 40px auto;
    width: 20%;
}

.formsection {
    display: none;
    text-align: center;
}

.formsection .bookname,
.authorname {
    border: 2px solid black;
    padding: 4px;
}

.submitbtn {
    justify-self: center;
    width: clamp(1.9rem, 3.5vw, 3.8rem);
    margin: auto;
}

#book-form {
    width: 30%;
    padding: 15px 270px 15px 270px;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.contact-page {
    display: none;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    margin: 50px auto;
}

.contact-page ul {
    list-style-type: none;
}

footer {
    border: 2px solid black;
    padding: 10px;
    margin: 10px;
    
    width: 96%;
    bottom: 10px;
}

.contact-page,
.addnewBook {
    display: none;
}

.date {
  display: flex;
  justify-content: flex-end;
}
#date-time {
    
    margin-right: 25px;
    margin-bottom: 10px;
}