* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  color: black;
}

nav {
  display: flex;
  justify-content: space-between;
  border: 2px solid black;
  padding: 10px;
  margin: 10px;
}

nav ul {
  list-style-type: none;
  display: flex;
}

nav a {
  text-decoration: none;
  color: black;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}

body main h1 {
  margin-bottom: 10px;
}

.books-table {
  border: 3px solid black;
  padding: 5px 0;
  width: 70%;
}

.books-table > *:nth-child(odd) {
  background: #e0dede;
}

.books-table button,
.submitbtn {
  border: 2px solid black;
  box-shadow: 2px 2px;
  padding: 2px;
}

.onebook {
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  gap: 90px;
  margin-bottom: 2px;
}

.separator {
  border: 1px solid black;
  margin: 40px auto;
  width: 20%;
}

.formSection {
  display: block;
  text-align: center;
}

.formSection .bookname,
.authorname {
  border: 2px solid black;
  padding: 4px;
}

.submitbtn {
  justify-self: flex-end;
}

form {
  padding: 5px 270px 5px 270px;
  display: block;
}

form > *:last-child {
  float: right;
}

.contact-page {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  margin: 50px auto;
}

.contact-page ul {
  list-style-type: none;
}

footer {
  border: 2px solid black;
  padding: 10px;
  margin: 10px;
  position: absolute;
  width: 96%;
  bottom: 10px;
}

.contact-page,
.addnewBook {
  display: none;
}
